@import './variables.css';


.modal{
    backdrop-filter: blur(2rem);
    background-color: transparent;
    align-items: center;
    display: flex;
    height: 100%;
    inset: 0;
    justify-content: center;
    position: absolute;
    width: 100%;
    z-index: 100;
}

.form-container {
    width: 20%;
    height: 45%;
    background-color: #fff;
    border-radius: 1rem;
    box-shadow: var(--shadow-primary);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 1rem;
    padding: 1.5rem;
    position: relative;
}

.form-container .form-title{
    font-size: 1.5rem;
    font-weight: var(--fw-700);
    color: var(--font-clr-primary);
}

.form-container .input-fields{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
.form-container .priority{
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: center;
}
.form-container input,
.form-container textarea{
    border: 1px solid var(--clr-form-accent);
    border-radius: 0.5rem;
    box-shadow: var(--shadow-secondary);
    padding: 0.2rem;
    outline: none;
    font-weight: var(--fw-500);
    color: var(--font-clr-primary);
}
.form-container input:focus,
.form-container textarea:focus{
    border: 1px solid var(--clr-btn-focus);
    box-shadow: var(--shadow-primary);
}

.form-container .btn-close{
    position: absolute;
    top: 0.5rem;
    right: 0.5rem;
    border: none;
    background-color: transparent;
    color: var(--font-clr-primary);
    cursor: pointer;
}


