:root {
    --fs-300: 0.7rem;
    --fs-400: 1rem;
    --fs-500: 1.3rem;
    --fs-700: 2rem;
    --fw-300: 300;
    --fw-400: 400;
    --fw-700: 700;
    --font-clr-primary: #002927;
    --font-clr-btn: #002927;
    --clr-bg-accent: hsla(0,0%,100%,.5);
    --clr-bg-secondary: hsla(0,0%,100%,.1);
    --clr-bg-secondary-xl: hsla(0,0%,100%,.3);
    --clr-bg-primary: linear-gradient(to right top,#d16ba5,#c777b9,#ba83ca,#aa8fd8,#9a9ae1,#88a4e8,#77aeeb,#68b6eb,#56bfe8,#4ec7e2,#54cdd8,#65d3cc);
    --clr-btn-primary: rgba(0,0,0,.15);
    --clr-btn-accent: rgba(0,0,0,.3);
    --clr-btn-secondary: #fff;
    --clr-btn-focus: #64d3cc;
    --clr-btn-checkbox: #1fc11f;
    --clr-form-bg: rgba(0,0,0,.15);
    --clr-form-accent: rgba(0,0,0,.3);
    --clr-important: rgba(255,0,0,.35);
    --shadow-primary: 0 0 10px rgba(0,0,0,.2);
    --shadow-secondary: 0 0 10px rgba(0,0,0,.1)
}
html, body{
    height: 100%;
    background: var(--clr-bg-primary) no-repeat center center fixed;
}