@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital@0;1&family=Roboto:ital@0;1&display=swap');
@import '../stylesheet/variables.css';
@import '../stylesheet/form.css';

html, body{
    height: 100%;
    background: var(--clr-bg-primary) no-repeat center center fixed;
    font-family: var(--playfair-font);
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Styling the main container */
div.main-container {
    border: 1px solid transparent;
    border-radius: 1.5rem;
    width: 60%;
    min-height: 75%;
    display: grid;
    grid-template-columns: 0.5fr 2fr;
    overflow: auto;
}
div.main-container h1{
    text-align: center;
    margin: 0;
    margin-top: 0.67em;

}

/* Styling the left container */ 
.left-container{
    background-color: var(--clr-bg-accent);
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.left-container div.home-actions, 
.left-container div.projects{
    margin-left: 1rem;
}
.left-container div.home-actions a,
.left-container div.projects a{
    text-decoration: none;
    color: var(--font-clr-primary);
    margin-left: 0.5rem;
    display: flex;
    align-items: center;
    gap: 0.25rem;
}
.left-container div.home-actions a:hover,
.left-container div.projects a:hover,
div.projects .projects-sections .project-item:hover{
    background-color: var(--clr-btn-primary);
    box-shadow: var(--shadow-primary);
    border-radius: 0.75rem;
    width: 90%;
}

div.home-actions div.collections{
    margin-top: 1.5rem;
}
div.event-sections,
div.collections{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

div.left-container div.projects{
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
div.projects .projects-sections .project-item{
    display: flex;
    align-items: flex-start;
}

button{
    display: flex;
    align-items: flex-start;
    font-weight: var(--fw-700);
    justify-content: center;
    border: none;
    color: var(--font-clr-btn);
    padding: 0.15rem 0.5rem;
    border-radius: 0.75rem
}
div.left-container button.create-project{
    background-color: var(--clr-btn-primary);
    margin: 0 0.75rem 1rem 0.67rem;
}
div.left-container button.create-project:hover,
div.action-buttons button:hover{
    background-color: var(--clr-btn-focus);
}

/* Styling the right container */ 
div.right-container{
    background-color: var(--clr-bg-secondary);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}
div.main-container .right-container h1{
    text-align: left;
    margin: 0;
}
div.action-buttons{
    display: flex;
    justify-content: space-between;
}
div.task-lists{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}
div.task-lists .task{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.75rem;
    border-radius: 0.5rem;
    background-color: var(--clr-bg-secondary-xl);
    box-shadow: var(--shadow-secondary);
}
div.task-lists .task:hover{
    background-color: var(--clr-bg-secondary);
    box-shadow: var(--shadow-primary);
}

.display-none{
    display: none;
}


